<!DOCTYPE html>
<html lang="pt">

  <head>
    <meta charset="utf-8">
        {% if titulo %}
        <title>{{ titulo }} - Guardando Registros!</title>
        {% else %}
        <title>Seja Bem vindo!</title>
        {% endif %}
  </head>

  <body>
    <div>
      <b>Flask_Models: </b>
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('registros') }}">Registros</a>
    </div>
    <hr>

    <div class="alert alert-warning">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}  
    </div>

    {% block content %}{% endblock %}

  </body>

</html>
