{% extends "base.html" %}

{% block content %}

  <table border = 1>
         <thead>
            <td>nomecompleto</td>
            <td>cpf</td>
            <td>idade</td>
            <td>cidade</td>
            <td>telefone</td>
            <td>sobrevoce</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["nomecompleto"]}}</td>
               <td>{{row["cpf"]}}</td>
               <td> {{ row["idade"]}}</td>
               <td>{{row['cidade']}}</td>
               <td>{{row["telefone"]}}</td>
               <td>{{row["sobrevoce"]}}</td>
            </tr>
         {% endfor %}
      </table>

{% endblock %}
